<div th:replace="fragments/navbar"></div>

<div class="dashboard-container">




    <div class="options-container">
        <button class="option-button" onclick="location.href='/zawodnicy'">Wyświetl liste zawodników</button>
        <button class="option-button" onclick="location.href='/kluby'">Wyświetl liste klubów</button>
        <button class="option-button" onclick="location.href='/licencje'">Wyświetl wszystkie licencje</button>
    </div>

    <div th:replace="fragments/footer"></div>
</div>

</body>
</html>
