<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

</head>
<body>

<div class="login-container"  >

    <h1> System Obslugi Imprez PZKB</h1>
    <h2>Poszukiwana strona nie istnieje !</h2>
    <button class="error-btn" onclick="location.href='/menu'">Menu Glowne</button>


    <div th:replace="fragments/footer"></div>


</div>



</body>
</html>
