

<div th:replace="fragments/navbar"></div>
<div class="dashboard-container">


    <div class="options-container">
        <button class="option-button" onclick="location.href='/zawody'">Wyświetl liste zawodów</button>
        <button class="option-button" onclick="location.href='/kluby'">Wyświetl liste klubów</button>
        <button class="option-button" onclick="location.href='/mojelicencje'">Wyświetl moje licencje</button>
        <button class="option-button" onclick="location.href='/mojezawody'">Wyświetl moje zawody</button>
    </div>

    <div th:replace="fragments/footer"></div>
</div>


</body>
</html>
